@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ninetea";
  src: url("../../fonts/Ninetea-Bold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  color: #222;
  font-family: "Poppins", sans-serif;
}

.ninetea-font {
  font-family: "Ninetea", sans-serif;
}
